.bgImage {
  width: 100%;
  height: 100%;
  z-index: -5;
  // filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  position: fixed;
  z-index: 0;
  top: 0;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
    // opacity: 0.8;
    backdrop-filter: blur(20px);
  }
}

.light {

  & .bgImage {
    &::before {
      background: rgba($color: var(--white), $alpha: 0.7);
    }
  }

  .activeDescription {
    background: var(--primary);
    box-shadow: var(--box-shadow-light);
    & h2 {
      color: var(--white);
    }

    & h3 {
      color: var(--white);
    }

    & p {
      color: var(--white);
    }
  }

  .figure {
    background-color: var(--white-700);
    box-shadow: var(--box-shadow-light);
  }
}

.dark {
  & .bgImage {
    &::before{
      background: rgba($color: var(--white), $alpha: 0);
    }
  }

  & .title {
    & span {
      color: var(--white);
    }
  }

  .figure {
    // background-color: var(--black-600);
    box-shadow: var(--box-shadow-light);
  }
}

.wrapper {
  // max-width: 1100px;
  margin: 0 auto;
}

.section {
  // height: 100vh;
  // min-height: 600px;
  height: 100%;
  padding: 2.5rem 0;
}

.activeDescription {
  position: absolute;
  padding: 1rem;
  border-radius: 12px;
  border-top-right-radius: 0;
  background: #00000029;
  backdrop-filter: blur(32px);
  left: 0;
  bottom: 0;
  // @media screen and (min-width: 768px) {
  //   left: -80px;
  //   bottom: 100px;
  // }

  & h2 {
    @media screen and (min-width: 768px) {
      font-size: 1.75rem;
    }
    color: var(--white);
    text-align: center;
    // animation: anim 3s forwards;
  }

  & h3 {
    font-size: 1.5rem;
    color: var(--white);
  }

  & p {
    font-size: 1rem;
    color: var(--white);
    text-align: center;
  }
}

.icon {
  position: absolute;
  left: 50%;
  top: calc(50% - 100px);
  transform: translate(-50%, -50%);
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  position: relative;
  z-index: 1;
  text-align: center;

  & strong {
    color: var(--primary);
  }
}

.article {
  height: 350px;
  @media screen and (min-width: 768px) {
    height: 500px
  }
}