.link {
  text-decoration: none;
  color: var(--font-dark);
}

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    & .fig {
      background-color: var(--secondary-light);
      border: 4px solid var(--secondary-light);;
    }
  }
}

.darkArticle.article {
  background: #00000047;
  backdrop-filter: blur(24px);
  border-radius: 15px;
  border-top-right-radius: 0;
  & .title {
    color: var(--font-white);
    &:hover {
      color: var(--secondary-light);
    }
  }

  & .category {
    color: var(--font-white)
  }

  & .date {
    color: var(--font-white)
  }
}

.lightArticle.article {
  background: #ffffff47;
  backdrop-filter: blur(24px);
  border-radius: 15px;
  border-top-right-radius: 0;
  & .title {
    color: var(--font-dark);
    &:hover {
      color: var(--secondary-dark);
    }
  }

  & .category {
    color: var(--tertinary);
  }

  & .date {
    color: var(--font-light);
  }
}

.fig {
  margin-bottom: 0;
  margin-right: 12px;
  background-color: transparent;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.3s all;
  position: relative;
  width: 80px;
  height: 80px;
  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
}

.content{
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
}

.category {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 8px;
  font-weight: 700;
  text-decoration: none;

}

.title {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.date {
  font-size: 14px;
  text-decoration: none;

}