.rs-about{
    $self: &;
    &__float-bg{
        position: absolute;
        right: 20px;
        bottom: 0;
        // z-index: -1;
        & svg{
            fill: #f8f9fa2e;
            width: 100%;
            // transform: translate(-10px , 0);
            animation: anim 4s forwards infinite;
        }
    }

    &__section{
        position: relative;
        // overflow-y: clip;
        padding: 50px 0;

        & .container{
            z-index: 1;
            position: relative;
        }

        @include media-breakpoint-down(md){
            padding-bottom: 14px;
            z-index: 1;
        }
        &--light{
            color: $black;
            #{ $self }__work-history{
                color: $black;
            }
            #{ $self}__figure{
                &::before {
                    border-color: $primary;
                }
                &::after{
                    background-color: $primary;
                }
            }
        }

        &--dark{
            color: $white;
            #{ $self }__work-history{
                color: $white;
            }

            #{$self}__float-bg{
                & svg{
                    fill:#3e3e3e;
                }
            }

            #{ $self}__figure{
                &::before{
                    border-color: $white;
                }
                &::after{
                    background-color: $white;
                }
            }
        }

    }

    &__profile-wrapper{
        position: relative;
    }

    &__profile{
        @include media-breakpoint-up(md){
            position: absolute;
            width: auto;
            right: 42px;
            bottom: calc(100% - 200px);
        }
        & img{
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #edb506;
            border-top-right-radius: 0;
            @include media-breakpoint-down(md){
                aspect-ratio: 1;
            }
            aspect-ratio: 1/1.5;
            // box-shadow: 0px 2px 14px #d1c4e9;
            @include media-breakpoint-up(md){
                width: 269px;
                height: 344px;
            }
        }

    }

    &__figure-system{
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(md){
            min-height: 150px;
        }
        & svg{
            width: 100%;
            height: 100%;
            max-width: 150px;
        }
    }
    &__figure{
        position: relative;
        &::before{
            content: "";
            width: calc(100% - 32px);
            height: calc(100% - 32px);
            border: 4px solid $primary;
            position: absolute;
            left: 16px;
            top: 16px;
            border-radius: 14px;
            border-top-right-radius: 0;
        }
        &::after{
            content: "";
            height: calc(50px - 0px);
            top: calc(100% - 16px);
            position: absolute;
            left: 50%;
            width: 4px;
            background-color: $primary;
        }
    }


}