.rs-banner{
    $self : &;
    &__section{
        position: relative;
        z-index: 1;
        &.dark {
            #{$self}__content {
                &::before {
                    background-color: #545e7570;//var(--font-dark);
                }

                & h2 {
                    & strong {
                        color: var(--secondary);
                    }
                }
            }
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        @include media-breakpoint-up(md){
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__main-banner{
        background-color: $secondary;
        background-image: url('./../../../public/bgnew.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 34px;
        border-top-right-radius: 0;
        width: 100%;
        padding: 30px 15px;
        @include media-breakpoint-down(md){
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-top: 80px;
        }
        @include media-breakpoint-up(md){
            width: calc(100% - 64px - 2rem);
            padding: 96px 110px 136px;
        }
    }

    &__content{
        max-width: 727px;
        padding: 31px 37px 52px;
        border-radius: 34px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        border-top-right-radius: 0;

        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            // background: linear-gradient(141.51deg, #7327B0 -18.34%, var(--primary) 66.03%);
            mix-blend-mode: normal;
            // opacity: 0.79;
            border-radius: 34px;
            z-index: -1;
            border-top-right-radius: 0;
            background-color: #f7f7ff9e;//var(--white);
            backdrop-filter: blur(20px);
            // box-shadow: 0px 2px 14px #d1c4e96e;
        }

        & h2{
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            color: var(--white);
            font-weight: 300;
            animation: fadeIn 3s forwards infinite;

            & strong {
                color: var(--primary);
            }

            & span{
                opacity: 0;
                display: none;
                transition: 0.6s opacity;
                &.added{
                    opacity: 1;
                    display: inline;
                }
            }
        }

        & h3{
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            color: var(--white);
            font-weight: 600;
        }

        p{
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            color: var(--white);
            font-weight: 200;
        }
        & nav{
            & ul{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                & li{
                    & svg{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    &__logo{
        margin-top: 14px;
        cursor: pointer;
        @include media-breakpoint-up(md){
            margin-top: 18px;
        }
        & span{
            // font-family: var(--header);
            letter-spacing: -0.5px;
            width: 55px;
            height: 55px;
            // background: linear-gradient(141.51deg, #7327B0 -18.34%, var(--primary) 66.03%);
            color: var(--white) !important;
            font-size: 28px;
            border-radius: 16px;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--box-shadow-light);
            border-top-right-radius: 0;
            background: var(--primary);
        }
        margin-bottom: 16px;
    }

    &__tooltip{
        display: flex;
        position: absolute;
        top: -8px;
        left: -8px;
        background-color: $gray-800;
        // background:linear-gradient(141.51deg, #7327B0 -18.34%, var(--primary) 66.03%);
        border-radius: 24px;
        padding: 8px 20px 8px 8px;
        color: white;
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        opacity: 0;
        transition: 0.3s;
        visibility: hidden;
        pointer-events: none;
    }

    &__navigation{
        background:linear-gradient(141.51deg, #7327B0 -18.34%, var(--primary) 66.03%);
        box-shadow: 0px 2px 14px #D1C4E9;
        border-radius: 16px;
        height: calc(100% - 1rem - 55px);
        transition: 0.5s;
        &--open{
            // overflow: visible;
            display: flex;
        }
        &--close{
            display: none;
            // height: 0;
            // visibility: hidden;
        }

        ul{
            overflow-y: clip;
            padding: 1rem;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            height: 100%;
            justify-content: space-around;
            & li{
                position: relative;
                cursor: pointer;
                &:hover{
                    #{$self}__tooltip{
                        display: flex;
                        opacity: 1;
                        visibility: visible;
                        pointer-events: none;
                    }
                }
                & svg{
                    width: 30px;
                    height: 30px;
                    color: var(--white);
                }
            }
        }
    }

    &__dropdown{
        position: fixed;
        right: 8px;
        top: 8px;
        z-index: 2;
        & .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            border: 0;
            background: linear-gradient(141.51deg, #7327B0 -18.34%, var(--primary) 66.03%);
        }

        & .dropdown-menu{
            &.show{
                background-color: $primary-light;

                // & li{
                //     padding: 12px 1rem;
                // }
            }
        }
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}