.rs-project{
    $self: &;
    &__section{
        z-index: 1;
        position: relative;
        &--dark{
            color: var(--font-dark);
            #{$self}__count{
                color: var(--white-700);
            }

            #{$self}__wrapper{
                background-color: var(--black-200);
                // border-color: var(--white);
            }

            #{$self}__count{
                color: var(--white-700);
            }

            #{$self}__sub-title{
                color: var(--white-700);
            }

            svg {
                color: var(--white-700) !important;
            }
        }

        &--light{
            color: $black;
            #{$self}__count{
                color: var(--font-dark);
            }
            #{$self}__wrapper{
                background-color: var(--white-700);
                box-shadow: var(--box-shadow-light);
                // border-color: var(--secondary);
            }

            #{$self}__sub-title{
                color: var(--font-dark);
            }
        }
    }

    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 42px;
        // border: 4px solid var(--secondary);
        padding: 40px 32px;
        gap: 2rem;
        flex-wrap: wrap;
        border-top-right-radius: 0;
        @include media-breakpoint-down(md){
            border-top-left-radius: 0;
        }
        background-color: var(--font-dark); //linear-gradient(141.51deg, var(--font-dark) -18.34%, var(--font-light) 66.03%);
        // background-color: $gray-300;
    }

    &__item{
        display: flex;
        flex-direction: column;
    }

    &__icon-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        // margin-bottom: 8px;
        & svg{
            width: 40px;
            height: 40px;
        }
    }

    &__count{
        font-size: 42px;
        font-weight: 800;
        color: var(--secondary);
    }

    &__sub-title{
        font-size: 14px;
        color: $gray-500;
    }
}