@keyframes anim {
    0%{
        // opacity: 0;
        transform: translate(0 , 0);
    }
    25%{
        transform: translate(20px , 20px);
    }
    50%{
        transform: translate(0 , 20px);
    }
    75%{
        opacity: 1;
        transform: translate(20px , 0);
    }
    100%{
        // opacity: 1;
        transform: translate(0 , 0);
    }
}

#map  {
    @include media-breakpoint-down(md){
        position:  relative !important;
        min-height: 450px;
    }
    @include media-breakpoint-up(md){
        position: absolute !important;
    }
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    // border-radius: 49px;
    // height: 500px;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-light;
    }
    .mapboxgl-ctrl-attrib-inner{
        display: none;
    }

    & .mapboxgl-canvas{
        border-radius: 49px;
    }

    & .mapboxgl-ctrl-attrib-button{
        display: none;
    }

    .marker {
        background-image: url('/logo.svg');
        background-size: cover;
        // width: 50px;
        // height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 0;
    }

    .mapboxgl-marker{
        position: absolute;
        top: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        & img{
            width: 100%;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: cover;
            box-shadow: 0px 2px 14px #d1c4e9;
        }
    }
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup {
    max-width: 200px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.mapboxgl-popup-content {
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.mapboxgl-canvas-container{
    position: relative;
    overflow-x: clip;
}

.icon{
    color: $white;
    &.icon-facebook{
        &:hover{
            color: #4267B2;
        }
    }

    &.icon-instagram{
        &:hover{
            color: #fb3958 ;
        }
    }

    &.icon-linkedin{
        &:hover{
            color: #0e76a8  ;
        }
    }

    &.icon-github{
        &:hover{
            color: #171515 ;
        }
    }
}


.mapboxgl-control-container{
    display: none;
}

.btn{
    border-radius: 24px;
    &-primary{
        border: 0;
        transition: 0.3s all;
        background: linear-gradient(141.51deg, #7327B0 -18.34%, #651FFF 66.03%);
        &:hover {
            background: linear-gradient(141.51deg, #651FFF -18.34%, #7327B0 66.03%);
            transform: scale(1.01);
        }
    }
}