:root{
    --font: 'Montserrat', sans-serif;
    --header: 'Righteous', cursive;
}

*{
    font-family: var(--font);
}

$font-family-base: var(--font);
$primary: var(--primary);
$primary-light: #D1C4E9;
$primary-dark: #311B92;
$secondary: #9C27B0;
$secondary-light: #E1BEE7;
$secondary-dark: #4A148C;

