// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
$container-max-widths: (
  sm: 680px,
  md: 720px,
  lg: 1100px,
  xl: 1200px,
  xxl: 1320px
);

// $font-family-base: var(--font);
:root {
    --primary: #651FFF;
    --primary-light: #D1C4E9;
    --primary-dark: #311B92;
    --secondary: #9C27B0;
    --secondary-light: #E1BEE7;
    --secondary-dark: #4A148C;
    --font-light: #767373;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-dark-white: #f4f4f4;
}

@import '/node_modules/bootstrap//scss//bootstrap.scss';
@import './scss/variable';
@import './scss/header';

@import './scss/about';
@import './scss/experience';
@import './scss/project';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import './scss/services';
@import './scss/util';
@import './scss/testimonial';
@import './scss/form';
@import './scss/contact';

html {
    scroll-snap-type: y mandatory;
}

* {
    cursor: none;

}

.rs-app{
    &__dark{
        background-color: #303030;
    }

    &__light{
        background-color: #fff;
    }

    &__opened{
        @include media-breakpoint-down(md){
            height: 100vh;
            overflow: hidden;
            & .rs-banner{
                &__sidebar{
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    z-index: 11;
                    max-width: 320px;
                    background: linear-gradient(141.51deg, #7327B0 -18.34%, #651FFF 66.03%);
                }

                &__navigation{
                    width: 100%;
                    background: none;
                    box-shadow: none;
                    border-radius: 0;
                    & ul{
                        align-items: flex-start;
                        justify-content: flex-start;
                        padding-left: 28px;
                    }
                }

                &__logo{
                    align-self: flex-start;
                    position: relative;
                    left: 23px;
                }

                &__tooltip{
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                }
            }
            & .rs-banner__section{
                z-index: 1;
            }
        }
    }
}

.slick-slide {
    scale: 1;
    opacity: 0.8;
    transition: 0.3s all;
}

.slick-center {
    // scale: 1.1;
    // padding: 1rem;
    opacity: 1;

    & img {
        // transform: matrix3d(1, 0, 1, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.8);
        // transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    }
}

.splide{
    &__slide{
        transition: 0.3s all;
        opacity: 0;
        &.is-prev{
            opacity: 0.5;
            transform: perspective(2000px) rotateY(20deg);
            // transform: matrix3d(1, 0, 1, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.8);
        }
        &.is-next{
            opacity: 0.5;
            transform-style: preserve-3d;
            transform: perspective(2000px) rotateY(-20deg);
            // & > div {
            //     transform: perspective(200px) rotateY(10deg);
            // }
            // transform: rotateY('30deg');
            // --card-translateY-offset: 0%;
            // --card-width: 234px;
            // --card-scale-offset: 0.9;
            // --card-translateX-offset: calc(var(--card-width) * 1.1);
            // --card-rotation-offset: 18deg;
            // transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
            // transform: matrix3d(1, 0, 1, -0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.8);
        }
        &.is-active{
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

.splide__arrow svg {
    fill: #ffff !important;
}
// .splide__track {
//     overflow: visible !important;
//     overflow-x: clip;
// }