// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
$container-max-widths: (
  sm: 680px,
  md: 720px,
  lg: 1100px,
  xl: 1200px,
  xxl: 1320px
);

// $font-family-base: var(--font);
:root {
    --primary: #749578;
    --primary-light: #FD5D63;
    --primary-dark: #650104;
    --secondary: #7327B0;
    --secondary-light: #FFD270;
    --secondary-dark: #4A148C;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-dark-white: #f4f4f4;
    --font-dark: #000000;
    --font-light: #437F97;
    --tertinary: #849324;
    --black-100: #000000;
    --black-200: #161616;
    --black-300: #2b2a2a;
    --black-400: #616372;
    --black-500: #797b88;
    --black-600: #92949e;
    --white-100: #d5e2ca;
    --white-200: #dae5d0;
    --white-300: #dee8d6;
    --white-400: #e3ecdb;
    --white-500: #e8efe1;
    --white-600: #ecf2e7;
    --white-700: #f4f4f4;
    --white: #ffff;
    --box-shadow-light: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
}

html {
    scroll-snap-type: y mandatory;
}

body {
    &.default-cursor {
        * {
            cursor: none;
        }
    }
}

.rs-app{
    &__dark{
        background-color: var(--font-dark);
        h1, h2, h3, h4, p, span, input, strong {
            color: var(--white);
        }

        & code span {
            color: unset;
        }
    }

    &__light{
        background-color: var(--white);
        h1, h2, h3, h4, p, span, input, strong {
            color: var(--font-dark);
        }
        & code span  {
            color: unset;
        }
    }

}

.mySwiper {
    .swiper-slide {
        opacity: 0.6;
        scale: 0.8;

        & h2 {
            transition: 0.3s all;
            transform: translateY(-150px);
            opacity: 0.8;
            text-align: center;
        }

        & h3 {
            transition: 0.3s all;
            transform: translateY(0px);
            opacity: 0.8;
        }

        & p {
            transition: 0.3s all;
            transform: translateY(-100px);
            opacity: 0;
        }
    }

    .swiper-slide-active {
        opacity: 1;
        scale: 0.9;
        transition: 0.3s all !important;

        & h2 {
            animation: anim 2s forwards;
        }

        & h3 {
            animation: anim 2s forwards 0.3s;
        }

        & p {
            animation: anim 2s forwards 0.6s;
        }

        &.left {
            rotate: y 20deg;
        }

        &.right {
            rotate: y -20deg;
        }
    }
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 29px !important;
    color: var(--primary);
}



@import '/node_modules/bootstrap//scss//bootstrap.scss';
@import './scss/variable';
@import './scss/header';

@import './scss/about';
@import './scss/experience';
@import './scss/project';
@import './scss/services';
@import './scss/util';
@import './scss/testimonial';
@import './scss/form';
@import './scss/contact';


.rs-app{

    &__opened{
        @include media-breakpoint-down(md){
            height: 100vh;
            overflow: hidden;
            & .rs-banner{
                &__sidebar{
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    z-index: 11;
                    max-width: 320px;
                    background: linear-gradient(141.51deg, #7327B0 -18.34%, var(--primary) 66.03%);
                }

                &__navigation{
                    width: 100%;
                    background: none;
                    box-shadow: none;
                    border-radius: 0;
                    & ul{
                        align-items: flex-start;
                        justify-content: flex-start;
                        padding-left: 28px;
                    }
                }

                &__logo{
                    align-self: flex-start;
                    position: relative;
                    left: 23px;
                }

                &__tooltip{
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                }
            }
            & .rs-banner__section{
                z-index: 1;
            }
        }
    }
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}