.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.figure {
  position: relative;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  border-top-right-radius: 0;
  min-height: 220px;
  @media screen and (min-width: 768px){
    min-height: 550px;
    margin-bottom: 3.5rem;
    // height: calc(100vh - 200px);
  }
}

.link {
  text-decoration: none;
  color: var(--secondary);
}

.subtitle {
  margin-bottom: 0;
}