.form-element{
    position: relative;
    margin-bottom: 32px;
    & textarea{
        min-height: 110px;
    }
    & .form-control{
        padding: 8px 0;
        border: 0;
        border-bottom: 1px solid $black;
        border-radius: 0;

        &:focus, &--filled{
            outline: 0;
            box-shadow: none;
            border-color: $primary;
            & + label{
                top: -8px;
                font-size: 11px;
                color: $primary;
            }
        }

        &:focus-visible{
            outline: 0;
        }
    }

    & .form-label{
        margin-bottom: 0;
        font-size: 1rem;
        position: absolute;
        top: 8px;
        transition: 0.3s ;
    }
}