.figure {
  position: relative;
  width: 100%;
  border-radius: 34px;
  overflow: hidden;
  border-top-right-radius: 0;
  min-height: 280px;
  @media screen and (min-width: 768px){
    min-height: 600px;
    height: calc(100vh - 200px);
  }
}

.title {
  color: var(--primary-dark);
}


.darkSection {
  & .title {
    color: var(--primary-light);
  }

  & .subtitle {
    color: var(--font-dark-white);
  }

  & .content {
    color: var(--font-dark-white);
  }

  & code {
    display: block;
    padding: 1em;
    margin: 0;
    font-size: 0.9em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 3px;
  }
}

.lightSection {
  & .title {
    color: var(--primary-dark);
  }

  & .subtitle {
    color: var(--font-dark);
  }

  & .content {
    color: var(--font-dark);
  }

  & code {
    display: block;
    padding: 1em;
    margin: 0;
    font-size: 0.9em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #f5f5f5;
    background-color: #333;
    border-radius: 3px;
  }
}